.l-geo_conteiner{
    width: 100%;
    overflow: scroll;
    border: 1px black solid;
    // position: relative;
    padding: 10px;
    max-width: 500px;
    margin: 0 auto;

}

.l-geo_conteiner__wrapper{
    // position: absolute;
    // top: 25%;
    // left: 25%;
    border-right: 1px dashed $black_l;
    border-bottom: 1px dashed $black_l;
    display: flex;
    flex-wrap: wrap;
}

.c-geo_cell{
    border-top: 1px dashed $black_l;
    border-left: 1px dashed $black_l;
    position: relative;

    &.u-plane{
        background-color: chartreuse;
    }

    &.u-sea{
        background-color: mediumturquoise;
    }

    &.u-hascity{
        background: red;
    }


    &:hover{
        opacity: 0.8;
    }
}
