*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$black:#222222;
$white:#fff;
$red:rgb(184, 68, 68);
$green:rgb(47, 153, 91);

@import './common.scss';
@import './geo.scss';
@import './city.scss';

